body {
    background-color: #589ed9;
}

#container {
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    margin: 0 auto;
    margin-top: 200px;
    color: white;
    text-align: center;
}

#header .logo {
    font-size: 50px;
}

.container_fields input {
    padding: 15px 0px;
    /* height: 35px; */
    width: 100%;
    outline: none;
    border: none;
    text-indent: 15px;
}

.container_fields input[type="email"] {
    /* border-top: 1px solid #ccc; */
    border-radius: 10px 10px 0px 0px;
}

.container_fields input[type="password"] {
    border-radius: 0px 0px 10px 10px;
}

.login_form input[type="submit"] {
    display: block;
    width: 100%;
    font-weight: bold;
    padding: 15px 0px;
    background-color: #0B6AB4;
    color: white;
    margin: 20px auto;
    outline: none;
    border: 0px;
    border-radius: 10px;
}

.login_form input[type="submit"]:hover {
    cursor: pointer;
    background-color: #0e5f9c;
}


#footer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}